//amberone.jfrog.io/artifactory/api/npm/default-npm-virtual/:_auth=$NPM_TOKEN
//amberone.jfrog.io/artifactory/api/npm/default-npm-virtual/:always-auth=true
//amberone.jfrog.io/artifactory/api/npm/default-npm-virtual/:email=$EMAIL